* {
    font-family: monospace;
    text-decoration: none;
}

body {
    background-color: #323330;
}


h3 {
    margin: 0 40px 0 0;
}

h2{
    color:#007253;
}

html {
    scroll-behavior: smooth;
}


span{
    color: #00c591;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: #00d69d;
}

a:active {
    color: black;
}

header{
    background-color: #007253;
    display: flex; 
}

footer {
    border: 4px solid #007253;
    padding: 30px;
    margin: 10px 10%;
    background-color: black;
}

.top-bar {
    margin: auto;
}

ul li{
    display:inline;
    font-size: 25px;
    margin: 15px;
}

.logo{
    width: 150px;
    height: 89px;
}

.foto {
    border-radius: 50%;
    border: 4px solid #007253;
    margin: 0 40px 0 0;
}

.destaque{
    margin: 10px 10px 150px 10pxb;
}

.flex{
    float:left;
}

.corpo{
    background-color: white;
    color: black;
    padding: 30px;
    margin: 0 10%;
    border: 4px solid #007253;
}

#sobre {
    margin: auto; 
    padding: 0 90px;
    color:white; 
}

#nome {
    font-family: 'Lexend Mega', sans-serif; 
    
}

#texto {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    
}
#habilidades{
    margin: 40px;
}

#site {
    color:white;
}

